.backwrap {
  background-image: url('./assets/bg-logo.jpg');
  background-size: cover;
  min-height: 100vh;
}
.backwrap-title {
  font-family: 'Tangerine', serif;
}
.backwrap-subtitle {
  font-family: 'Lobster', serif;
}
.display-5 {
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.2;
}
.detail-text {
  position: absolute;
  bottom: 0;
}